html, body, button, div, span, iframe, h1, h2, h3, h4, h5, h6, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, ul, li, img
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    
}

*, *:before, *:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

img {
vertical-align: middle;
}

a, .awe-popup a {
    text-decoration: none;
    color: #428BCA;
}

a:hover {
    text-decoration: underline;
}

body
{
    font-family: Verdana, Arial,Liberation Sans,DejaVu Sans,sans-serif;
    text-align: left;
    overflow-y: scroll;
    font-size: 13px;
    line-height: 1.428571429;
    color: #333;
}

button, input[type=submit]
{
    cursor: pointer;
}
input, select
{
    padding: 3px;
}

input[type="text"], input[type="password"], select
{
    width: 185px;
    border: 1px solid #aaa !important;
    font-size: 13px;
    border-radius: 2px;
}
textarea {
    border: 1px solid #aaa !important;
    height: 100px;
}
fieldset
{
    border-radius: 3px;
    border: 1px solid gainsboro;
    padding: 10px;
}

.ico-edit, .ico-del
{
    display: block;
    overflow: hidden;
    height: 18px;
    width: 18px;
    background-repeat: no-repeat;
}

.ico-edit
{
    background-position: -4px 0;
}

.ico-del
{
    background-position: -28px 0;
}


.field-validation-error span
{
    position: absolute;
    background-image: url("error.png");
    background-repeat: no-repeat;
    background-position: 3px 3px;
    display: inline-block;
    font-size: 0;
    min-height: 23px;
    min-width: 25px;
    margin-left: 3px;
    vertical-align: bottom;
}

.field-validation-error:hover span
{
    position: absolute;
    font-size: 13px;
    background-color: white;
    padding: 3px 3px 3px 30px;
    border: solid gainsboro 1px;
    border-radius: 3px;
}

.efield
{
    clear: both;
    width: 100%;
    padding: 1.2em 0 0 0;
}
.elabel
{
    text-align: right;
    width: 170px;
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: top;
    margin-top: 1px;
    padding-right: 3px;
}

@media (max-width: 580px) {
.elabel {
    text-align: left;
    display: block;
    }
}

.einput
{
    border: 0 none;
    display: inline-block;
    min-width: 199px;
}

.einput input, .einput select
{
    float: left;
}

.hmenus
{
    float: left;
    padding: 10px 0px 0px 0px;
    margin-left: 20px;
}

#main
{
    overflow: hidden;
}

#footer
{
    height: 85px;
}

.cbt
{
    clear: both;
}

.settings {
    float: right;
    padding-top: 5px;
}
.settings select {
    width: auto;
    padding: 0;
    margin: 2px;
}

.settings .awe-btn {
    padding: 0 2px;
}

.nav
{
    font-size: 110%;
}

.nav a
{
    display: block;
    padding: 6px 12px 6px 12px;
    text-decoration: none;
    font-weight: bold;
    color: #555;
    text-shadow: 0 1px 0 white;
}

.maindiv
{
    padding-bottom: 30px;
}

.cont 
{
    margin: auto;
    padding-right:2px;
    padding-left: 2px;
    width: 100%;
}

@media (min-width: 1000px) {
    .cont {
        width: 93%;
    }
}

#nos
{
    background: #ff5544;
    text-align: center;
    padding: 0.3em;
    color: White;
    font-size: 2em;
    font-weight: bold;
}

.fl
{
    float: left;
}

.fr
{
    float: right;
}

h1, h2, h3, h4, h5 {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight: 500;
line-height: 1.1;
color: inherit;
}

h2
{
    margin: 20px 5px;
    font-weight: bold;
}

h3
{
    font-size: 3em;
}

p
{
    margin: 5px 0px;
    padding: 2px 0;
}

.fr
{
    float: right;
}

.explain p
{
    margin: 0;
}

.awe-ajaxlist
{
    margin-top: 5px;
}
.mealmove
{
    margin: 1px 0 3px;
}

.thumb
{
    width: 200px;
    height: 150px;
    background: White;
    border-radius: 3px;
    display: block;
}

.sthumb
{
    width: 100px;
    height: 75px;
    margin-right: 3px;
    border-radius: 3px;
}

.mthumb
{
    width: 45px;
    height: 34px;
    vertical-align: middle;
}
.trmi a
{
    text-decoration: underline !important;
}
.trmi
{
    float: right;
    margin: 1em 0 0 1em;
    cursor: pointer !important;
}

#langs
{
    position: absolute;
    width: 9.5em;
}

.langs a
{
    text-decoration: underline !important;
}

#langs li
{
    display: block;
    text-align: right;
}

li.awe-li.dinner
{
    display: block;
    border: gainsboro solid 1px;
    padding: 7px;
    border-radius: 2px;
    background-color: white !important;
    margin: 5px 0 0 0;
}

.feedback ul li{
    margin-left: 3em;
    list-style-type: disc;
}

.si
{
    display: inline-block;
    margin-right: 1em;
    line-height: 16px;
    vertical-align: top;
}
.mealslist, .flist
{
    border: none !important;
}

.awe-li.mealitem
{
    margin: 3px 2px;
    padding: 5px;
    border: solid gainsboro 1px;
    font-size: 13px;
    border-radius: 2px;
}

.mealitem .awe-movebtn
{
    height: 22px;
    width: 24px;
}

.meal
{
    width: 450px;
    height: 230px;
    border: 1px solid gainsboro;
    margin: 4.5px !important;
    padding: 15px !important;
    border-radius: 5px;
    background-color: white !important;
}

.comments
{
    float: right;
    width: 200px;
    max-height: 130px;
    overflow: auto;
    margin-top: 5px;
    word-break: break-all;
}

.inputarea
{
    display: inline-block;
    width: 400px;
    vertical-align: top;
}

@media (max-width: 480px)
{
    .inputarea {
        width: auto;
    }
}


.bro
{
    background-image: url('broccoli.png');
    background-repeat: no-repeat;
    background-position: right top;
    height: 100%;
}

#themes
{
    padding: 0;
}

#doggy
{
    width: 100px;
    height: 100px;
    background-image: url('dogs.gif');
    z-index: 9000;
    position: fixed;
    right: 30px;
    bottom: 50px;
}

#doggy:hover
{
    background-image: url('dog.gif');
}

#tip
{
    width: 130px;
    height: 133px;
    opacity: 0.90;
    background-image: url('tip.png');
    z-index: 9000;
    position: fixed;
    right: 110px;
    bottom: 120px;
    display: none;
}

#tipcontent
{
    padding: 1.3em;
    font-size: 95%;
}

.cropbox
{
    width: 533px;
    height: 400px;
    float: left;
    background: white;
}

.thumbhead
{
    float: left;
    margin-bottom: 3px;
    text-align: center;
    width: 200px;
}

.stext
{
    width: 30px !important;
    margin-left: 10px;
}

.ibtn
{
    height: 25px;
    padding-bottom: 1px;
    vertical-align: baseline;
}

.errPopup
{
    font-size: 11px;
}

.errPopup .ui-dialog-titlebar
{
    padding: 0 1em;
}

.mealsLookup .awe-morecont
{
    clear: both;
}

.menu
{
    display: inline-block;
    font-size: 0;
}

.menu li
{
    display: inline-block;   
    *display: inline;
    font-size: 15px;
    vertical-align: middle;
    text-rendering: optimizeLegibility;
    font-weight: bold;
    font-family: Verdana, Tahoma, Arial;
    line-height: 55px;
}

.menu a {
    padding: 10px 5px;
    text-decoration: none;
    color: #264e8f;
}

@media (max-width: 530px)
{
    .menu a {
        padding: 5px 2px;
    }

    .menu li {
        font-size: 12px;
    }
}

@media (max-width: 700px) {
    .optional {
        display: none !important;
    }
}

.menu a:hover {
    color: #3772d2;
}

.page
{
    width: 93%;
    margin-left: auto;
    margin-right: auto;
}
#header {
    border-bottom: 1px solid lightgray;
}

#footer {
    border-top: 1px solid lightgray;
    padding: 10px;
}

#header, #footer
{
    color: #555;
    text-shadow: 0 1px 0 white;
    background-color: #E0E0E0;
    -moz-box-shadow: inset 0 0 1px #fff;
    -ms-box-shadow: inset 0 0 1px #fff;
    -webkit-box-shadow: inset 0 0 1px white;
    box-shadow: inset 0 0 1px white;
    background-color: #FAFAFA;
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#fffafafa,EndColorStr=#ffdcdcdc);
    background-image: -webkit-linear-gradient(top,#FAFAFA,#F1F1F1);
    background-image: -moz-linear-gradient(top,#FAFAFA,#F1F1F1);
    background-image: -ms-linear-gradient(top,#FAFAFA,#F1F1F1);
    background-image: -o-linear-gradient(top,#FAFAFA,#F1F1F1);
    background-image: linear-gradient(top,#FAFAFA,#F1F1F1);
    -moz-user-select: none;
    -webkit-user-select: none;
}

.awe-list .awe-li
{
    overflow: hidden;
}

#Countries .awe-li:not(.awe-morecont), #CountryId-awepw .awe-li:not(.awe-morecont)
{
    height: 34px;
}
/*#Countries .act, #CountryId-awepw .act
{
    display: none;
}*/
#Countries .awe-li:not(.awe-morecont):hover
{
    outline: 1px solid gold;
}
/*#Countries .awe-li:hover .act, #CountryId-awepw .awe-li:hover .act
{
    display: inherit;
}*/

ul.awe-ajaxlist
{
    width: auto;
}

.awe-multilookup-field {
    margin-top: 2px;
}

.flist li.awe-li.awe-morecont {
    padding: 0;
}

.flist .awe-morebtn {
    margin: 0;
    margin-top: 5px;
}

fieldset
{
    border: 1px solid #ddd;
    padding: 3px 5px;
    margin: 3px 0 3px 3px;
    border-radius: 2px;
}

legend
{
    font-size: 13px;
    color: #555;
    font-weight: bold;
    width: auto;
}

@-ms-viewport {
     width: auto !important; 
}