<div style="margin: 2em;">
    <br />
    <div class='fr'>
        <h3>
            prodinner, where pros eat</h3>
    </div>
    <div class='fl'>
        <a href="http://youtu.be/kYll7uARNdk?t=8m35s"><img src="@Url.Content("~/Content/pros.png")" /></a>
    </div>    
    <div class="fl" style="margin-left: 3em; margin-right:1em;">
        <h2>
            stuff used:
        </h2>
        <ul>
            <li>.net 4.5, ASP.net MVC 5.1, EF 6</li>
            <li><a href='http://aspnetawesome.com'>ASP.net MVC Awesome jQuery Ajax Helpers</a></li>
            <li><a href="http://valueinjecter.codeplex.com">ValueInjecter</a> for mapping</li>
            <li><a href="http://jquery.com">jQuery</a> <a href="http://jqueryUI.com">jQueryUI</a></li>            
            <li><a href="http://imager.codeplex.com/">Imager</a>, <a href='http://aquantum-demo.appspot.com/file-upload'>jQuery File Upload</a> and <a href="http://deepliquid.com/content/Jcrop.html">Jcrop</a> for uploading, cropping and resizing images</li>            
            <li><a href="http://encrypto.codeplex.com">Encrypto</a> for hashing and salting passwords</li>
            <li><a href="http://www.castleproject.org/container/">Castle Windsor</a> IoC Container</li>
            <li><a href="http://code.google.com/p/elmah/">ELMAH</a> for logging</li>
            <li><a href="http://nunit.org/">NUnit</a> and <a href="http://code.google.com/p/fakeiteasy/">FakeItEasy</a> for testing</li>            
            <li><a href="http://www.tinymce.com">TinyMCE</a> as wysiwyg editor</li>
            <li><a href="http://htmlagilitypack.codeplex.com">Html Agility Pack</a> for sanitizing html</li>
        </ul>
        <br/>
        project home: <a href="http://prodinner.codeplex.com">prodinner.codeplex.com</a>
    </div>
</div>
